<template name="nav">
  <div class="ui top inverted fixed menu">
    <a class="active item" id="menu">
        <i class="bars icon"></i> Menu
    </a>
    <div class="right menu">
        {{#if currentUser}}
            {{> logout}}
        {{else}}
            <a class="item" href="{{pathFor route='login'}}">
                Login
            </a>
            <a class="item" href="{{pathFor route='signup'}}">
                Sign up
            </a>
        {{/if}}
    </div>
  </div>
</template>

<template name="sidebar">
    <div class="ui left vertical inverted labeled icon sidebar menu" id="sidebar">
        <a class="item" href="{{pathFor route='default'}}">
            <i class="home icon"></i> Home
        </a>
        
        {{#if currentUser}}
            <a class="item" href="{{pathFor route='selfies'}}">
                <i class="camera icon"></i> My Seflies
            </a>

            <a class="item" href="{{pathFor route='customers'}}">
                <i class="users icon"></i> My Followers
            </a>
        {{else}}
            <a class="item" href="{{pathFor route='login'}}">
                <i class="user icon"></i> Login
            </a>
        {{/if}}
    </div>
</template>