<template name="passwordRecovery">
    <h2>Reset password</h2>
    
    {{#if resetPasswordToken}}
        <form class="ui form attached fluid segment" id="new-password" action="action">
            <div class="field">
                <label for="new-password-password">New password</label>
                <input type="text" id="new-password-password" />

                {{#if passwordRecoveryNewPasswordError}}
                    <div class="ui pointing red label">
                        {{passwordRecoveryNewPasswordError}}
                    </div>
                {{/if}}
            </div>
            <div class="field">
                <input type="submit" class="ui button" value="Change password" />
            </div>
        </form>
    {{else}}
        <form class="ui form attached fluid segment" id="recovery-form" action="action">
            {{#if passwordRecoveryMessage}}
                <div class="field">
                    <span id="recovery-message">{{passwordRecoveryMessage}}</span>
                </div>
            {{else}}
                <div class="field">
                    <label for="recovery-email">E-mail</label>
                    <input type="text" id="recovery-email" />

                    {{#if passwordRecoveryEmailError}}
                        <div class="ui pointing red label">
                            {{passwordRecoveryEmailError}}
                        </div>
                    {{/if}}
                </div>
                <div class="field">
                    <input type="submit" class="ui button" value="Send Reset Instructions" />
                </div>
            {{/if}}
        </form>
    {{/if}}
</template>